.cartList{
    border-spacing: 0;
    width: 95%;
    margin: 15px auto;
    text-align: center;
  }
  
  .cartList_head{
    background-image: linear-gradient(to bottom,
    white,
    rgb(113, 191, 255));
  }
  
  .cartList_row{
    line-height: 46px;
  }

  .carritoTitle{
    font-style: italic;
    color:aqua;
    text-align: center;
    text-decoration: dotted;
  }